{% extends "base.html" %}
{% block title %}Tarefas{% endblock %}

{% block content %}
    <a class="btn btn-primary mb-3" href="{% url 'tasks_create' %}">Nova Tarefa</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Descrição</th>
                <th>Status</th>
            </tr>
        </thead>

        <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.title }}</td>
                    <td>
                        {% if task.done %}
                            <span class="badge bg-success">Concluída</span>
                        {% else %}
                            <span class="badge bg-danger">Pendente</span>
                        {% endif %}
                    </td>
                    <td class="d-flex gap-2">
                        <a class="btn btn-sm btn-outline-secondary" href="{% url 'tasks:toggle' task.id %}">Alternar</a>
                        <a class="btn btn-sm btn-outline-primary" href="{% url 'tasks:edit' task.pk %}">Editar</a>
                        <a class="btn btn-sm btn-outline-danger" href="{% url 'tasks:delete' task.pk %}">Excluir</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3" class="text-center">Nenhuma tarefa encontrada.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}